.list-card {
  background-color: #ffffff;
  width: 49%;
  margin-bottom: 15px;
}

.image {
  width: 100%;
}

.name {
  color: #475569;
  font-family: roboto;
  font-weight: bold;
  font-size: 16px;
  margin: 15px;
}

.description {
  font-family: roboto;
  color: #64748b;
  font-size: 12px;
  margin: 15px;
}
